<div class="sidebar">
    <div class="list-group">
        <a href="{{ path('deepmikoto_admin_primary_block') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_primary_block' %}active{% endif %}">
            Primary block
        </a>
        <a href="#" class="list-group-item">
            Legal page
        </a>
        <a href="#" class="list-group-item">
            Faq page
        </a>
        <a href="#" class="list-group-item">
            Contact page
        </a>
        <a href="{{ path('deepmikoto_admin_administration') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_administration' %}active{% endif %}">
            Administration
        </a>
    </div>
</div>
