<div class="sidebar">
    <div class="list-group">
        <a href="{{ path('deepmikoto_admin_photography_primary_block') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_photography_primary_block' %}active{% endif %}">
            Primary block
        </a>
        <a href="{{ path('deepmikoto_admin_photography_new_post') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_photography_new_post' %}active{% endif %}">
            New post
        </a>
        <a href="#" class="list-group-item">
            New post photo
        </a>
        <a href="#" class="list-group-item">
            Manage photos
        </a>
        <a href="#" class="list-group-item">
            Submitted posts
        </a>
        <a href="#" class="list-group-item">
            Drafted posts
        </a>
    </div>
</div>
