<div class="sidebar">
    <div class="list-group">
        <a href="{{ path('deepmikoto_admin_photography_primary_block') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_photography_primary_block' %}active{% endif %}">
            Primary block
        </a>
        <a href="{{ path('deepmikoto_admin_photography_new_post') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_photography_new_post' %}active{% endif %}">
            New post
        </a>
        <a href="{{ path('deepmikoto_admin_photography_new_post_photo') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_photography_new_post_photo' %}active{% endif %}">
        New post photo
        </a>
        <a href="{{ path('deepmikoto_admin_photography_post_photo_list') }}" class="list-group-item {% if app.request.get('_route') == 'deepmikoto_admin_photography_post_photo_list' or app.request.get('_route') == 'deepmikoto_admin_photography_edit_post_photo'  %}active{% endif %}">

        Manage photos
        </a>
        <a href="#" class="list-group-item">
            Submitted posts
        </a>
        <a href="#" class="list-group-item">
            Drafted posts
        </a>
    </div>
</div>
