{% spaceless %}
<div class="photos" id="photos">
    <% _.each( photos , function( photo ) { %>
        <img src="{{ '<%=photo.url%>' }}" class="photo" id="photo" alt="{{ '<%=photo.altText%>' }}" />
    <% }); %>
</div>
<div class="overlay" id="overlay">
    <div class="overlay-canvas">
        <div class="overlay-content">
            <div class="title">
                <h3 class="title"><%=title%></h3>
            </div>
            <div class="photos-count">
                <div class="top-bar"></div>
                <div class="count">
                    <span class="number"><%=photos.length%></span>
                    <span class="text">photos</span>
                </div>
                <div class="bottom-bar"></div>
            </div>
        </div>
    </div>
    <div class="details">
        <span class="date"><i class="glyphicon glyphicon-calendar"></i> <%=date%></span>
        <span class="location">
            <a href="http://maps.google.com/maps?&q=<%=location%>" target="_blank" title="view on Google Maps">
                <i class="glyphicon glyphicon-new-window"></i> <%=location%>
            </a>
        </span>
    </div>
</div>
{% endspaceless %}
