{% extends 'DeepMikotoAdminBundle:Parts:divided_layout.html.twig' %}
{% block sidebar %}
    {% include 'DeepMikotoAdminBundle:Parts:sidebars/home_sidebar.html.twig' %}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h4>Some statistics will be presented here</h4>
    </div>
{% endblock %}
