{% spaceless %}
<div class="block" id="primary"></div>
<div class="block" id="related"></div>
<div class="block" id="adds"></div>
<div class="about">
    <a href="{{ '/legal' }}">Legal</a>,
    <a href="{{ '/faq' }}">FAQ</a>,
    <a href="{{ '/contact' }}">Contact</a>
</div>
{% endspaceless %}