{% spaceless %}
<div class="block primary" id="primary"></div>
<div class="block related" id="related"></div>
<div class="block adds" id="adds"></div>
<div class="about">
    <a href="{{ path('deepmikoto_app_help_page') }}">Help</a> |
    <a href="{{ '/faq' }}">FAQ</a> |
    <a href="{{ '/contact' }}">Contact</a>
</div>
{% endspaceless %}