@media screen and ( min-width: 768px ) {
  html {
    body {
      .header-container {
        .app-header {
          .navbar {
            .container {
              .navbar-collapse {
                ul {
                  &.navbar-nav {
                    li {
                      &.active {
                        a {
                          &:after {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and ( max-width: 992px ) {
    .app-container {
      width: auto;
    }
  }
}
@media screen and ( max-width: 768px ) {
  html {
    body {
      &>.app-container {
        &>.body-container {
          &>.photography-timeline {
            &>.photography-posts {
              &>.photography-post {
                &>.photos {
                  height: 410px;
                }
              }
            }
          }
        }
      }
    }
  }
}