@media only screen{
  @media(min-width: 320px){
    @media(max-width: 480px){
      html {
        body {
          &>.app-container {
            padding: 0 5px;
            .landing-page-container {
              .landing-page {
                .welcome {
                  .scroll-indicator-container {
                    .scroll-indicator {
                      opacity: 0;
                    }
                  }
                }
              }
            }
            &>.body-container {
              &>.photography-timeline {
                &>.photography-posts {
                  &>.photography-post {
                    &>.photos {
                      height: 200px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}