{% spaceless %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 block">
        <a href="{{ path('deepmikoto_app_coding') }}">Coding</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 block">
        <a href="{{ path('deepmikoto_app_gaming') }}">Gaming</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 block">
        <a href="{{ path('deepmikoto_app_photography') }}">Photography</a>
    </div>
{% endspaceless %}