{% spaceless %}
    <div class="header">
        {% image '@DeepMikotoApiBundle/Resources/public/images/deepmikoto_logo_w.png' output='images/logo_w.png' %}
            <img src="{{ asset_url }}" alt="deepmikoto" title="Hi there!"/>
        {% endimage %}
    </div>
    <section data-active="yes" class="welcome">
        <div class="section-content">
            <div class="container">
                <h1>Hi there</h1>
                <h4>You made it</h4>
                <p>
                    Since you're here, it's time to start exploring
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="section-content">
            <div class="container">

            </div>
        </div>
    </section>
    <section>
        <div class="section-content">
            <div class="container">

            </div>
        </div>
    </section>
    <section>
        <div class="section-content">
            <div class="container">

            </div>
        </div>
    </section>
{% endspaceless %}