{% extends 'DeepMikotoAdminBundle:Parts:divided_layout.html.twig' %}
{% block sidebar %}
    {% include 'DeepMikotoAdminBundle:Parts:sidebars/photography_sidebar.html.twig' %}
{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage | raw }}
        </div>
    {% endfor %}
    {% for photo in form.vars.data.photos %}
        <a href="{{ path('deepmikoto_admin_photography_edit_post_photo',{'id':photo.id}) }}">
            <img src="{{ asset(photo.webPath) }}" style="max-width: 200px">
        </a>
    {% endfor %}
    {{ form(form) }}
{% endblock %}