<!DOCTYPE html>
<html lang="eng">
<head>
    {% stylesheets
        'bundles/deepmikotoadmin/css/bootstrap.css'
        'bundles/deepmikotoadmin/scss/deepmikoto.admin.scss'
        output='css/adminarea/deepmikoto.admin.css' filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <title>deepmikoto admin</title>
</head>
<body>
{% block header %}
    {% include 'DeepMikotoAdminBundle:Parts:header.html.twig' %}
{% endblock %}
<div class="divided-layout">
    {% block divided_layout %}
    {% endblock %}
</div>
<div class="full-layout">
    {% block full_layout %}
    {% endblock %}
</div>
<script type="text/javascript" src="{{ 'https://maps.googleapis.com/maps/api/js?key=' ~ google_api_key ~ '&libraries=places' }}"></script>
{% javascripts
    '@DeepMikotoAdminBundle/Resources/public/js/jquery-2.1.4.js'
    '@DeepMikotoAdminBundle/Resources/public/js/bootstrap.js'
    '@DeepMikotoAdminBundle/Resources/public/js/admin.js'
    '@DeepMikotoAdminBundle/Resources/public/js/functions.js'
    '@DeepMikotoAdminBundle/Resources/public/js/deepmikoto.js'
    output='js/adminarea/deepmikoto.admin.js'
%}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
</body>
</html>


