@-webkit-keyframes navigation_header_pulse {
  0%   { opacity: 0; left: 0; }
  1%   { opacity: 1; left: 0; }
  80% { opacity: 1; left: 100%; }
  81% { opacity: 0; left: 101%; }
  100% { opacity: 0; left: 101%; }
}
@keyframes navigation_header_pulse {
  0%   { opacity: 0; left: 0; }
  1%   { opacity: 1; left: 0; }
  80% { opacity: 1; left: 100%; }
  81% { opacity: 0; left: 101%; }
  100% { opacity: 0; left: 101%; }
}@-webkit-keyframes scroll_indicator_pulse {
  0%   { background-color: #fff10d; }
  50% { background-color: #4eff3c; }
  100% { background-color: #fff10d; }
}
@keyframes scroll_indicator_pulse {
  0%   { background-color: #fff10d; }
  50% { background-color: #4eff3c; }
  100% { background-color: #fff10d; }
}