.post-details, .help-page {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  background-color: #000315;
  color: #FFFFFF;
  padding: 0 15px;
  @include border-radius( 3px );
  @include box-shadow( 0, 0, 5px, 1px, #131313);
}
div {
  &.date {
    margin-bottom: 10px;
    font-size: 11px;
    font-style: italic;
    text-align: right;
  }
}
.fb-share-button {
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: #0088CC;
  &:hover {
    text-decoration: none;
    color: #9d5ce2;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
    color: #FFFFFF;
  }
  &[ target="_blank" ] {
    &:after {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
      margin: 0 0 0 2px;
    }
  }
}