%header_pulse {
  position: fixed;
  opacity: 0;
  display: inline-block;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 16, 255, 1);
  -moz-box-shadow: 0 10px 10px 0 rgba(0, 16, 255, 1);
  box-shadow: 0 10px 10px 0 rgba(0, 16, 255, 1);
  height: 50px;
  width: 15px;
  background-color: #ff0000;
  top: 0;
  z-index: -1;
  -webkit-animation: navigation_header_pulse 10s infinite;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  animation: navigation_header_pulse 10s infinite;
  animation-delay: 2s;
  animation-timing-function: linear;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    height: 50px;
    width: 20px;
    -webkit-box-shadow: 0 8px 10px 0 rgba(0, 16, 255, 1);
    -moz-box-shadow: 0 8px 10px 0 rgba(0, 16, 255, 1);
    box-shadow: 0 8px 10px 0 rgba(0, 16, 255, 1);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: -10px;
    height: 50px;
    width: 20px;
    -webkit-box-shadow: 0 8px 10px 0 rgba(0, 16, 255, 1);
    -moz-box-shadow: 0 8px 10px 0 rgba(0, 16, 255, 1);
    box-shadow: 0 8px 10px 0 rgba(0, 16, 255, 1);
  }
}
%loader-bar {
  display: block;
  margin-top: 15%;
  height: 20px;
  width: 100%;
  .loader-bar {
    display: block;
    background-color: #000000;
    position: relative;
    height: 10px;
    padding: 4px;
    width: 50%;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .loader-bar-progress {
      width: 2%;
      height: 2px;
      position: relative;
      background-color: #8a2be2;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0px 0px 5px 1px #8a2be2;
      -moz-box-shadow: 0px 0px 5px 1px #8a2be2;
      box-shadow: 0px 0px 5px 1px #8a2be2;
      transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        -webkit-box-shadow: 0 0 8px 1px #9d5ce2;
        -moz-box-shadow: 0 0 8px 1px #9d5ce2;
        box-shadow: 0 0 8px 1px #9d5ce2;
      }
    }
    .loader-info {
      position: absolute;
      left: 5px;
      bottom: -20px;
      font-size: 10px;
      color: #FFFFFF;
      .loader-label {
        display: inline-block;
        margin-right: 10px;
      }
      .loader-subject {
        display: inline-block;
        font-style: italic;
      }
    }
  }
}