@import "style_templates", "animations";

a {
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

html {
  height: 100%;
  body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background-color: #171616;
    .header-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      .app-header {
        background: #000000 url(../images/hdr_bkg.png) repeat-x center center;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(3,53,255,1);
        -moz-box-shadow: 0px 4px 20px 0px rgba(3,53,255,1);
        box-shadow: 0px 4px 20px 0px rgba(3,53,255,1);
        .navbar-inverse {
          background-color: transparent;
          .container {
            padding: 0 5px 0 5px;
            .navbar-header {
              a.navbar-brand {
                padding: 10px 15px;
              }
            }
            .pulse {
              @extend %header_pulse;
            }
          }
        }
      }
    }
    .app-container {
      margin-top: 75px;
      .body-container {
        .initial-loader {
          @extend %loader-bar;
          margin-top: 30%;
          .loader-bar {
            width: 60%;
            float: right;
          }
        }
      }
      .sidebar-container {
        .sidebar {
          .block {

          }
          .about {

          }
        }
      }
    }
    .footnote-container {
      position: fixed;
      width: 100%;
      bottom: 0;
    }
    .modal-container {

    }
  }
}