@import "style_templates", "animations";

html {
  height: 100%;
  body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background-color: #171616;
    .main-header-container {
      .main-header {
        background: #000000 url(../images/hdr_bkg.png) repeat-x center center;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(3,53,255,1);
        -moz-box-shadow: 0px 4px 20px 0px rgba(3,53,255,1);
        box-shadow: 0px 4px 20px 0px rgba(3,53,255,1);
        .navbar-inverse {
          background-color: transparent;
          .container-fluid {
            .navbar-header {
              a.navbar-brand {
                padding: 10px 15px;
              }
            }
          }
          .pulse {
           @extend %header_pulse;
          }
        }
      }
    }
  }
}