@import "mixins", "style_templates", "animations", "global_styles";

a {
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

hr {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(161,168,182,0.75),rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(161,168,182,0.75),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(161,168,182,0.75),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(161,168,182,0.75),rgba(0,0,0,0));
}

html {
  height: 100%;
  &.locked {
    overflow: hidden!important;
  }
  body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    background-color: #1B1B1B;
    &::-webkit-scrollbar{
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
      @include border-radius( 8px );
    }
    &::-webkit-scrollbar:vertical{
      width: 10px;
    }
    &::-webkit-scrollbar:horizontal{
      height: 10px;
    }
    &::-webkit-scrollbar-thumb{
      @include border-radius( 8px );
      @include transition( all, .7s, ease-in-out );
      border: 1px solid rgba(255, 255, 255, 0.08);
      background-color: rgba(255, 255, 255, 0.05);
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    &.scrolling {
      &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.2);
      }
      .app-container {
        .landing-page-container {
          .landing-page {
            .welcome {
              .scroll-indicator-container {
                .scroll-indicator {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
    &>.header-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      &>.app-header {
        background: #000000 url(../images/hdr_bkg.png) repeat-x center center;
        @include box-shadow( 0px, 4px, 20px, 0px, rgb(3, 53, 255));
        @include transition( all, 2s, ease );
        &>.navbar-inverse {
          background-color: transparent;
          &>.container {
            &>.navbar-header {
              &>a.navbar-brand {
                padding: 10px 15px;
              }
            }
            &>.navbar-collapse {
              &>ul {
                &.navbar-nav {
                  &>li {
                    &>a {
                      &:after {
                        content: ' ';
                        position: absolute;
                        width: 60%;
                        margin: 0 auto;
                        bottom: -1px;
                        height: 5px;
                        background-color: transparent;
                        left: 20%;
                        @include transition( all, .5s, ease );
                      }
                    }
                    &.active {
                      &>a {
                        &:after {
                          opacity: 0;
                          background-color: #0335ff;
                          @include box-shadow( 0px, -2px, 12px, 0px, rgba(3,53,255,1) );
                        }
                      }
                    }
                  }
                }
                &.navbar-right {
                  &>li {
                    &>.search-container {
                      padding: 0;
                      position: relative;
                      display: inline-block;
                      color: #9d9d9d;
                      &>label {
                        margin-bottom: 0;
                        vertical-align: middle;
                        &>.search-field {
                          padding: 0;
                          width: 0;
                          opacity: 0;
                          background: transparent;
                          border: none;
                          border-radius: 0;
                          color: #FFFFFF;
                          @include transition( all, .3s, ease-in-out );
                          &:focus {
                            box-shadow: none;
                          }
                        }
                      }
                      &>.search-toggle {
                        cursor: pointer;
                        display: inline-block;
                        font-size: 15px;
                        line-height: 20px;
                        padding: 15px;
                        @include transition( transform, .2s, ease-in );
                      }
                      &:focus {
                        &>.search-toggle {
                          color: #9d9d9d;
                        }
                      }
                      &.loading {
                        &>.search-toggle {
                          @include transform( scale( 0.1 ) );
                        }
                      }
                      &.active {
                        &>label {
                          &>.search-field {
                            padding: 6px 12px;
                            width: 165px;
                            opacity: 1;
                            font-weight: normal;
                          }
                        }
                        &>.search-toggle {
                          color: #fff;
                        }
                      }
                      .suggestions-list {
                        .suggestions {
                          position: absolute;
                          width: 100%;
                          top: 100%;
                          @include box-shadow( 0px, 0px, 5px, 1px, rgb(3, 53, 255));
                          background: #000315;
                          .suggestion {
                            cursor: pointer;
                            padding: 10px;
                            border-bottom: 1px solid rgba(0, 50, 251, 0.39);
                            .title {
                              max-height: 40px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              color: #FFFFFF;
                              @include transition( all, .10s, ease-in-out );
                            }
                            .category {
                              color: #a0a0a0;
                              font-style: italic;
                              font-size: 10px;
                            }
                            @include transition( all, .10s, ease-in-out );
                            &:hover {
                              background: rgba(255, 255, 255, 0.11);
                              .title {
                                color: #9d5ce2;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &>.pulse {
              @extend %header_pulse;
            }
          }
        }
        &.home {
          display: none;
        }
        &.coding {
          @include header-category-accent( rgb(3, 53, 255) );
        }
        &.gaming {
          @include header-category-accent( rgb(255, 0, 26) );
        }
        &.photography {
          @include header-category-accent( rgb(0, 255, 6) );
        }
      }
    }
    &>.app-container {
      &>.body-container {
        margin-top: 75px;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        &>.photography-timeline {
          &>.photography-posts {
            &:before, &:after {
              display: table;
              content: " ";
            }
            &:after {
              clear: both;
            }
            &>.photography-post {
              padding: 0;
              position: relative;
              @include box-shadow( 0, 0, 5px, 1px, #131313 );
              &>.photos {
                position: relative;
                top: 0;
                bottom: 0;
                height: 280px;
                overflow: hidden;
                &>img {
                  &.photo {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    @include transition( transform, .5s, ease );
                  }
                }
              }
              &>.overlay {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(29, 131, 255, 0.61);
                color: #FFFFFF;
                @include transition( all, .5s, ease );
                opacity: 0;
                &>.overlay-canvas {
                  display: table;
                  width: 100%;
                  height: 100%;
                  &>.overlay-content {
                    display: table-cell;
                    vertical-align: middle;
                    &>.title {
                      &>h3 {
                        &.title {
                          margin-top: 0;
                          text-align: center;
                        }
                      }
                    }
                    &>.photos-count {
                      position: relative;
                      &>.top-bar, .bottom-bar {
                        position: absolute;
                        display: inline-block;
                        height: 1px;
                        width: 0;
                        background-color: #FFFFFF;
                        @include transition( width, .6s, ease-in-out );
                      }
                      &>.top-bar {
                        top: 0;
                        left: 0;
                      }
                      &>.bottom-bar {
                        bottom: 0;
                        right: 0;
                      }
                      &>.count {
                        padding-bottom: 5px;
                        &>span {
                          display: block;
                          text-align: center;
                          &.number {
                            font-size: 26px;
                          }
                          &.text {
                            font-size: 10px;
                          }
                        }
                      }
                    }
                  }
                }
                &>.details {
                  position: absolute;
                  bottom: 0;
                  left: 5px;
                  &>span {
                    font-size: 10px;
                    display: block;
                    text-align: left;
                    &>a {
                      color: #FFFFFF;
                      text-decoration: none;
                    }
                    &>i {
                      &.glyphicon {
                      }
                    }
                    &.date {
                      font-style: italic;
                    }
                    &.location {

                    }
                  }
                }
              }
              &:hover {
                &>.photos {
                  &>img {
                    &.photo {
                      @include transform( scale(1.25) );
                    }
                  }
                }
                &>.overlay {
                  opacity: 1;
                  &>.overlay-canvas {
                    &>.overlay-content {
                      &>.photos-count {
                        &>.top-bar, .bottom-bar {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &>.photography-type {
          &>.header {
            &>.date-and-location {
              margin: 10px 0;
              text-align: right;
              &>span {
                margin-right: 10px;
                font-size: 12px;
                color: #dddddd;
                &>a {
                  color: #dddddd;
                  text-decoration: none;
                }
                &>i {
                  &.glyphicon {
                    margin-right: 5px;
                  }
                }
                &.date {
                  cursor: default;
                  font-style: italic;
                  float: left;
                }
              }
            }
            .title {
              margin: 20px 0 40px 0;
              text-align: center;
            }
          }
          &>.body {
            &>.photos {
              &>.photo {
                margin-bottom: 15px;
                padding-top: 15px;
                border-bottom: 1px solid rgba(255,255,255, .1);
                &>.image {
                  padding: 0;
                  img {
                    max-width: 100%;
                  }
                }
                &>.image-stats {
                  &>table {
                    &.table {
                      tr {
                        &>td, &>th {
                          border: none;
                        }
                      }
                    }
                  }
                }
                &>.image-actions {
                  margin-top: 10px;
                  &>ul {
                    list-style-type: none;
                    padding-left: 0;
                    &>li {
                      &.downloads {
                        &>a {
                          margin-right: 10px;
                          &:hover, &:active, &:focus {
                            color: #337ab7;
                          }
                        }
                        &>span {
                          cursor: default;
                          &>i {
                            &.glyphicon {
                              margin-right: 5px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &>.coding-timeline {
          &>.coding-category {
            padding: 0 10px;
            margin-bottom: 10px;
            .media {
              width: 100%;
              max-width: 100%;
              display: inline-block;
              background-color: #000315;
              color: #fff;
              padding: 15px;
              @include border-radius( 3px );
              @include box-shadow( 0, 0, 5px, 1px, #131313 );
            }
          }
          &>.coding-categories {
            &>.coding-category {
              padding: 0 10px;
              margin-bottom: 20px;
              .category {
                cursor: pointer;
                padding: 10px;
                background-color: #000315;
                color: #fff;
                @include border-radius( 3px );
                @include box-shadow( 0, 0, 5px, 1px, #131313 );
                .image {
                  width: 100%;
                  min-height: 150px;
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  margin: 10px 0;
                  display: inline-block;
                }
                h4 {
                  text-align: center;
                }
                &:hover {
                  background: rgba(255,255,255,0.04);
                  color: #9d5ce2;
                }
              }
            }
          }
          &>.coding-posts {
            &:before, &:after {
              display: table;
              content: " ";
            }
            &:after {
              clear: both;
            }
            &>.coding-post {
              padding: 0 5px;
              margin-bottom: 10px;
              &>.item{
                background-color: #000315;
                padding: 10px;
                color: #fff;
                @include box-shadow( 0, 0, 5px, 1px, #131313 );
                cursor: pointer;
                @include border-radius( 3px );
                &>.title {
                  min-height: 60px;
                  &>h3 {
                    &.title {
                      margin: 10px 0 20px 0;
                      line-height: 30px;
                    }
                  }
                }
                &>.details {
                  &>.categories {
                    display: inline-block;
                    &>.category {
                      margin-right: 5px;
                      img {
                        border-radius: 50%;
                        max-height: 20px;
                      }
                    }
                  }
                }
                &:hover {
                  background: rgba(255,255,255,0.04);
                  &>.title {
                    &>h3 {
                      &.title {
                        color: #9d5ce2;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &>.coding-type {
          .header {
            &>.date {
              margin: 10px 0;
              &>.date {
                float: left;
              }
            }
            &>.title {
              margin: 20px 0 40px 0;
              text-align: center;
            }
          }
        }
        &>.gaming-timeline {
          &>.gaming-posts {
            &:before, &:after {
              display: table;
              content: " ";
            }
            &:after {
              clear: both;
            }
            &>.gaming-post {
              cursor: pointer;
              margin-bottom: 20px;
              padding: 0;
              @include box-shadow( 0, 0, 5px, 1px, #131313 );
              &>.cover {
                position: relative;
                @include border-radius( 3px );
                overflow: hidden;
                &>img {
                  width: 100%;
                  max-width: 100%;
                }
                &>h3 {
                  &.title {
                    text-align: left;
                    width: 100%;
                    margin: 0;
                    padding: 20px 10px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: #ffffff;
                    background: rgba(134, 14, 26, 0.85);
                    opacity: .4;
                    @include transition( opacity, .2s, ease-in-out );
                  }
                }
              }
              &:hover {
                &>.cover {
                  &>h3 {
                    &.title {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
        &>.gaming-type {
          .header {
            &>.date {
              margin: 10px 0;
              &>.date {
                float: left;
              }
            }
            &>.title {
              margin: 20px 0 40px 0;
              text-align: center;
            }
          }
          &>.cover {
            margin-bottom: 15px;
            img {
              max-width: 100%;
            }
          }
          &>.body {
            .twitter-tweet-rendered {
              margin: 20px auto!important;
            }
          }
        }
        &>.help-page {
          padding-top: 10px;
        }
      }
      &>.sidebar-container {
        margin-top: 75px;
        padding-left: 5px;
        padding-right: 5px;
        &>.sidebar {
          margin-bottom: 15px;
          a {
            color: #337ab7;;
            text-decoration: none;
            &:active {
              color: #337ab7;;
              text-decoration: none;
            }
            &:focus {
              color: #337ab7;;
              text-decoration: none;
            }
            &:visited {
              color: #337ab7;;
              text-decoration: none;
            }
          }
          &>.block {
            background-color: #000315;
            padding: 10px;
            color: #ffffff;
            margin-bottom: 15px;
            min-height: 150px;
            @include border-radius( 3px );
            @include box-shadow( 0, 0, 5px, 1px, #131313 );
            &.primary {
              &>.image {
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
                &>img {
                  max-width: 100%;
                }
              }
              &>.title {
                font-size: 20px;
              }
              &>.subtitle {
                font-size: 12px;
                color: #A0A0A0;
                margin-bottom: 20px;
              }
              &>.description {
                text-align: justify;
              }
            }
            &.related {
              &>.title {
                font-size: 20px;
                margin-bottom: 20px;
              }
              &>.items {
                &>.media-list {
                  list-style-type: none;
                  padding: 0;
                  &>.media {
                    border-bottom: 1px solid #212121;
                    padding: 10px 0;
                    margin: 0;
                    &:hover {
                      color: #FFFFFF;
                      background: rgba( 255, 255, 255, .04 );
                    }
                    &>.media-left {
                      &>.item-image {
                        &>img {
                          width: 64px;
                          height: 64px;
                        }
                      }
                    }
                    &>.media-body {
                      vertical-align: middle;
                      &>.media-heading {
                        color: #FFFFFF;
                        display: block;
                        font-size: 16px;
                        margin-bottom: 5px;
                        &:hover {
                          color: #9d5ce2;
                        }
                      }
                      &>.category {
                        font-size: 11px;
                        font-style: italic;
                      }
                    }
                    &:last-child {
                      border-bottom: none;
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
            &.categories {
              &>.title {
                font-size: 20px;
                margin-bottom: 20px;
              }
              .items {
                .list {
                  list-style-type: none;
                  padding-left: 0;
                  margin: 10px 0;
                  .item {
                    &:not(:last-child){
                      border-bottom: 1px solid #212121;
                    }
                    a {
                      display: block;
                      padding: 5px 0;
                      color: #FFFFFF;
                      &:hover {
                        color: #9d5ce2;
                        background: rgba( 255, 255, 255, .04 );
                      }
                    }
                  }
                }
              }
            }

          }
          &>.about {
            text-align: right;
          }
          &.home {
            display: none;
          }
        }
      }
      &>.landing-page-container {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        &>.landing-page {
          &:after {
            content: 'Loading images ...';
            color: #FFFFFF;
            position: fixed;
            display: inline-block;
            bottom: 10px;
            right: 5px;
            height: 10px;
            font-size: 12px;
            font-style: italic;
            z-index: -1;
          }
          &>section {
            color: #FFFFFF;
            display: table;
            table-layout: fixed;
            width: 100%;
            background: transparent no-repeat center center;
            background-size: cover;
            h1, h3, h4, p {
              text-shadow: 0 1px 2px #000;
            }
            a.btn {
              border: none;
              color: #FFFFFF;
              @include border-radius( 2px );
              margin-top: 30px;
              height: 36px;
              line-height: 38px;
              outline: 0;
              padding: 0 2rem;
              text-transform: uppercase;
              box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
              @include transition( background-color, .2s, ease-in-out );
              &:hover {
                box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
              }
            }
            &>.header, .scroll-indicator-container {
              position: fixed;
              width: 100%;
            }
            &>.header {
              padding: 20px 20px;
              top: 0;
              left: 0;
            }
            &>.scroll-indicator-container {
              bottom: 0;
              left: 0;
              padding-bottom: 10px;
              z-index: 2;
              .scroll-indicator {
                height: 38px;
                width: 25px;
                margin: 0 auto;
                border: 2px solid rgba(255, 255, 255, 0.5);
                @include border-radius( 20px );
                position: relative;
                @include transition( opacity, .2s, ease-in-out );
                &>i {
                  opacity: 0;
                  position: absolute;
                  -webkit-animation: scroll_indicator_arrows 4s infinite;
                  animation: scroll_indicator_arrows 4s infinite;
                  font-size: 5px;
                  left: 8px;
                  &:nth-child(1) {
                    top: 16px;
                    -webkit-animation-delay: 1s;
                    animation-delay: 1s;
                  }
                  &:nth-child(2) {
                    top: 21px;
                    -webkit-animation-delay: 1.1s;
                    animation-delay: 1.1s;
                  }
                  &:nth-child(3) {
                    top: 26px;
                    -webkit-animation-delay: 1.2s;
                    animation-delay: 1.2s;
                  }
                }
                &:after {
                  position: absolute;
                  content: ' ';
                  width: 4px;
                  height: 8px;
                  top: 5px;
                  left: 8px;
                  background: #fff;
                  @include border-radius( 5px );
                  -webkit-animation: scroll_indicator_pulse 2s infinite;
                  animation: scroll_indicator_pulse 2s infinite;
                }
              }
            }
            .section-content {
              display: table-cell;
              width: 100%;
              vertical-align: middle;
              background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
            }
            &.welcome {
              background-image: url("/images/night.jpg");
              position: relative;
              font-size: 2em;
              .slices-container {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .top-slice {
                  height: 50%;
                  position: relative;
                  box-shadow: none;
                  z-index: 2;
                  @include transition( all, 0.3s, linear );
                  h1 {
                    font-size: 60px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    padding: 10px 0;
                  }

                }
                .middle-slice {
                  height: 0;
                  background: transparent;
                  overflow: hidden;
                  position: relative;
                  z-index: 1;
                  @include transition( all, 0.3s, linear );
                  video {
                    position: absolute;
                    z-index: 0;
                    top: -92%;
                    width: 100%;
                    height: auto;
                  }
                  .video-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background: rgba(240, 248, 255, 0.18);
                  }
                  .bottom-shadow {
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: -1px;
                    z-index: 2;
                    box-shadow: none;
                    @include transition( all, 0.3s, linear );
                  }
                }
                .bottom-slice {
                  height: 50%;
                  box-shadow: none;
                  text-align: center;
                  padding-top: 25px;
                  h4 {
                    font-size: 25px;
                    margin: 0;
                  }
                  p {
                    margin: 0;
                    font-size: 16px;
                  }
                  @include transition( all, 0.3s, linear );
                }
              }
              &.open-vid {
                .top-slice {
                  height: 30%;
                  box-shadow: 0 1px 0 rgb(204,204,204),
                  0 2px 0 rgb(201,201,201),
                  0 3px 0 rgb(187,187,187),
                  0 4px 0 rgb(185,185,185),
                  0 5px 0 rgb(170,170,170),
                  0 6px 1px rgba(0,0,0,0.098),
                  0 0 5px rgba(0,0,0,0.098),
                  0 1px 3px rgba(0,0,0,0.298),
                  0 3px 5px rgba(0,0,0,0.2),
                  0 5px 10px rgba(0,0,0,0.247),
                  0 10px 10px rgba(0,0,0,0.2),
                  0 20px 20px rgba(0,0,0,0.15);
                }
                .middle-slice {
                  height: 40%;
                  .bottom-shadow {
                    box-shadow: 0 -1px 0 rgb(204,204,204),
                    0 -2px 0 rgb(201,201,201),
                    0 -3px 0 rgb(187,187,187),
                    0 -4px 0 rgb(185,185,185),
                    0 -5px 0 rgb(170,170,170),
                    0 -6px 1px rgba(0,0,0,0.098),
                    0 0 5px rgba(0,0,0,0.098),
                    0 -1px 3px rgba(0,0,0,0.298),
                    0 -3px 5px rgba(0,0,0,0.2),
                    0 -5px 10px rgba(0, 0, 0, 0.46),
                    0 -10px 10px rgba(0,0,0,0.2),
                    0 -20px 20px rgba(0,0,0,0.149);
                  }
                }
                .bottom-slice {
                  height: 30%;
                }
              }
            }
            &.coding {
              background-image: url("/images/code.jpg");
              .btn {
                background-color: #0335ff;
                &:hover {
                  background-color: #2961ff;
                }
              }
            }
            &.gaming {
              background-image: url("/images/wow.jpg");
              .btn {
                background-color: #ff001a;
                &:hover {
                  background-color: #ff495b;
                }
              }
            }
            &.photography {
              background-image: url("/images/cluj.jpg");
              .btn {
                background-color: #00ff06;
                &:hover {
                  background-color: #66ff6d;
                }
              }
            }
          }
        }
        &>.initial-loader-overlay {
          position: fixed;
          display: table;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          &>.initial-loader-body {
            display: table-cell;
            vertical-align: middle;
            &>.initial-loader {
              @extend %loader-bar;
              &>.loader-bar {
                width: 30%;
                min-width: 300px;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    &>.footnote-container {
      position: fixed;
      width: 280px;
      bottom: 10px;
      right: 10px;
      background-color: #000000;
      color: #ffffff;
      &>.footnote {
        position: relative;
        padding: 20px 30px;
        &>.close {
          width: 20px;
          height: 20px;
          text-align: center;
          position: absolute;
          color: #FFFFFF;
          padding: 4px;
          top: 5px;
          right: 10px;
          opacity: 1;
          font-weight: normal;
          font-size: 14px;
          &:hover {
            @include border-radius( 15px );
            background-color: #ffffff;
            color: #000000;
          }
        }
        &>.message {
          text-align: center;
        }
      }
    }
    &>.modal-container {

    }
  }
}