{% extends 'DeepMikotoApiBundle::layout.html.twig' %}
{% block content %}
    <div class="main-content">
        <div class="content-header" id="content-header">

        </div>
        <div class="content-body" id="content-body">

        </div>
    </div>
{% endblock %}