{% extends 'DeepMikotoApiBundle::layout.html.twig' %}
{% block content %}
    <div id="main-header" class="main-header-container"></div>
    <div class="container" id="main-content">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 under-construction">
            {% image '@DeepMikotoApiBundle/Resources/public/images/under_construction.png' output='images/under_construction.png' %}
                <img src="{{ asset_url }}" alt="under construction" class="uc" />
            {% endimage %}
            {% image '@DeepMikotoApiBundle/Resources/public/images/uc_shadow.png' output='images/uc_shadow.png' %}
                <img src="{{ asset_url }}" alt="under construction shadow" class="uc_s" />
            {% endimage %}
        </div>
    </div>
{% endblock %}