{% extends 'DeepMikotoApiBundle::layout.html.twig' %}
{% block content %}
    <div id="main-header" class="main-header-container">
        <div class="main-header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">
                            {% image '@DeepMikotoApiBundle/Resources/public/images/deepmikoto_logo_w.png' output='images/logo_w.png' %}
                                <img src="{{ asset_url }}" alt="deepmikoto" title="Hi there!"/>
                            {% endimage %}
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container" id="main-content">
        <div class="initial-loader">
            <div class="loader-bar">
                <div class="loader-bar-progress" id="loader-bar"></div>
                <div class="loader-info">
                    <div class="loader-label">loading ... </div>
                    <div class="loader-subject" id="loader-subject">assets</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}