{% spaceless %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('deepmikoto_app_homepage') }}">
                {% image '@DeepMikotoApiBundle/Resources/public/images/deepmikoto_logo_w.png' output='images/logo_w.png' %}
                    <img src="{{ asset_url }}" alt="deepmikoto" title="Hi there!"/>
                {% endimage %}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="{{ path('deepmikoto_app_homepage') }}">Home</a></li>
            </ul>
        </div>
        <div class="pulse"></div>
    </div>
</nav>
{% endspaceless %}