{% spaceless %}
    <div class="item">
        <div class="title">
            <h3 class="title"><%=title%></h3>
        </div>
        <div class="details">
            <div class="categories">
                <% _.each( categories, function( category ) { %>
                <span class="category">
                    <img src="{{ '<%=category.image%>' }}" title="<%=category.name%>" alt="<%=category.name%>" />
                </span>
                <% }); %>
            </div>
            <span class="date pull-right"><small><i class="glyphicon glyphicon-calendar"></i>&nbsp;<%=date%></small></span>
        </div>
    </div>
{% endspaceless %}
