{% spaceless %}
<% if ( category != null ) { %>
    <div class="coding-category">
        <div class="media">
            <div class="media-left">
                <img src="{{ '<%=category.image%>' }}" alt="<%=category.name%>">
            </div>
            <div class="media-body">
                <h2 class="media-heading"><%=category.name%></h2>
            </div>
        </div>
    </div>
<% } %>
<div class="coding-posts"></div>
<div class="timeline-end"></div>
{% endspaceless %}