{% spaceless %}
    <div class="header">
        <div class="date">
            <span class="date" title="date published"><i class="glyphicon glyphicon-calendar"></i> <%=date%></span>
            <div class="fb-share-button" data-layout="button_count"></div>
        </div>
        <h2 class="title"><%=title%></h2>
    </div>
    <% if( webPath != false && !hideCoverInPost ) { %>
        <div class="cover text-center">
            <a data-lightbox="gaming-<%=id%>" href="{{ '<%=webPath.fullSize%>' }}" >
                <img src="{{ '<%=webPath.timelineSize%>' }}">
            </a>
        </div>
    <% } %>
    <div class="body">
        <%=content%>
    </div>
    <div class="fb-comments" data-width="100%" data-colorscheme="dark" data-href="{{ url('deepmikoto_app_homepage') }}gaming/<%=id%>--<%=slug%>" data-version="v2.3"></div>
{% endspaceless %}