{% spaceless %}
    <% if( webPath != false ) { %>
        <div class="cover text-center">
            <h3 class="title"><%=title%></h3>
            <img src="{{ '<%=webPath.timelineSize%>' }}">
        </div>
    <% } else { %>
        <h3 class="title"><%=title%></h3>
    <% } %>
{% endspaceless %}
